<template>
  <div class="about">
    <vue-headful
            title="Perestroika Films - About"
            description="Don't ask too many questions comrade !"
        />
    <h1>This is an about page</h1>
    <h2>Don't ask too many questions comrade !</h2>
  </div>
</template>

<script>
import VueHeadful from 'vue-headful';

export default {
  components: {
    VueHeadful
  }
}
</script>

<style>

</style>