<template>
  <div class="viewContainer">
    <vue-headful
            :title="'Perestroika Films - ' + film.title"
            description="All the information needed about the selected film."
        />
    <div id="adminOptionsContainer" v-if="isUserAdmin()">
      <alert-message
            v-if="deleteSuccess === false"
            messsage="The suppression has failed!"
            />
        <alert-message
            v-if="deleteSuccess"
            messageType="Success"
            messsage="Well done, you have erased all traces. You will be kicked out soon."
        />
      <router-link :to="'/modify-film-database/' + filmId">
        <button>Modify</button>
      </router-link>
      <button @click="deleteFilm()" >Delete</button>
    </div>
    <h2>{{film.title}}</h2>
    <img
      :src="film.image ? 'https://placeimg.com/200/200/tech' : require('@/assets/hommeCasquette.png')"
      class="filmDetailsImage"
    />
    <film-star-rating :filmId="film.id" />
    <div v-if="critics.length >= 5">
      <h3>Comrades's approval : {{criticAverage.toFixed(2)}}% for {{critics.length}} critics</h3>
    </div>
    <div v-else>
      <h3>Be first to say something about it</h3>
    </div>
    <h4>{{film.description}}</h4>
    <h4>Rating: {{film.rating}}</h4>
    <h4>Length: {{film.length}} min</h4>
    <h4>Release year: {{film.release_year}}</h4>
    <h4>Cast:</h4>
    <ul class="actorsList" style="list-style-type:none;">
      <li v-for="actor in actors" :key="actor.id">
        <span>{{ actor.first_name }}</span>
        <span>{{ actor.last_name }}</span>
      </li>
    </ul>
    <div v-if="this.$root.$children[0].userData != null">
      <h3>Do your duty. Say how much you loved our films !</h3>
      <add-critic-form :filmId="film.id" :critic="findExistingCriticFromCurrentUser()"/>
    </div>
    <h3>Comrades's appreciative section</h3>
    <div v-if="sortedFilteredCritics < 1">
      <p>Nobody said anything bad about it. So don't ask question and consider it good.</p>
    </div>
    <div v-else id="criticsContainer">
      <div v-for="critic in sortedFilteredCritics" :key="critic.id" class="criticContainer">
      <critic :critic="critic" />
      </div>
    </div>
  </div>
</template>

<script>
import FilmsService from "@/services/FilmsService.js";
import FilmStarRating from "@/components/FilmStarRating.vue";
import AddCriticForm from "@/components/AddCriticForm.vue";
import Critic from "@/components/Critic.vue";
import VueHeadful from 'vue-headful';
import AlertMessage from "@/components/AlertMessage.vue";

export default {
  data() {
    return {
      error: null,
      loading: false,
      film: null,
      actors: null,
      critics: null,
      criticAverage: null,
      deleteSuccess : null
    };
  },
  components: {
    AlertMessage,
    FilmStarRating,
    VueHeadful,
    AddCriticForm,
    Critic
  },
  created() {
    this.loadPage();
  },
  computed:{
    filmId : function(){
      return this.$route.params.filmId;
    },
    sortedCritics(){
      return [...this.critics].sort((a,b) => {
        if(a.creation_date < b.creation_date) return 1;
        if(a.creation_date > b.creation_date) return -1;
        return 0;
      })
    },
    sortedFilteredCritics(){
      if(this.$root.$children[0].userData != null){
        return this.sortedCritics.filter(critic => critic.user_id != this.$root.$children[0].userData.id);
      }
      return this.sortedCritics;
    }
  },
  watch:{
    filmId: function(){
      this.loadPage();
    }
  },
  methods:{
    loadPage(){
      this.loading = true;
      FilmsService.getActorsByFilm(this.$route.params.filmId)
        .then(response => {
          this.actors = response.data;
        })
        .catch(error => {
          this.error = error;
        });
      FilmsService.getFilmById(this.$route.params.filmId)
        .then(response => {
          this.film = response.data.film;
          this.critics = response.data.critic;
          this.critics.forEach(element => {
            this.criticAverage += parseInt(element.score);
          });
          this.criticAverage /= this.critics.length;
        })
        .catch(error => {
          this.error = error;
        })
        .finally(() => (this.loading = false));
    },
    isUserAdmin(){
      let isAdmin = false;
      if(this.$root.$children[0].userData != null){
        return this.$root.$children[0].userData.role_id == 1;
      }
      return isAdmin;
    },
    findExistingCriticFromCurrentUser(){
      if(this.$root.$children[0].userData != null){
        return this.sortedCritics.filter(critic => critic.user_id == this.$root.$children[0].userData.id)[0];
      }
    },
    deleteFilm(){
      try {
        FilmsService.deleteFilm(this.film.id)
          .then(response => {if (!response.status == 200) {
                              throw new Error();
                            }});
        this.deleteSuccess = true;
        setTimeout(function(){ window.location = '/';  }, 1000);
      } catch (error) {
        this.deleteSuccess = false;
      }

    }
 }
}
</script>

<style>
.filmDetailsImage {
  width: 35%;
  height: 35%;
}

#criticsContainer{
  display: flex;
  flex-wrap: wrap;
}

.criticContainer{
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#adminOptionsContainer > button{
  margin: 0em 1em;
}
</style>