<template>
  <div class="viewContainer">
        <vue-headful
            title="Perestroika Films - Home"
            description="Home page of our glorious film app !"
        />
    <h1>PERESTROIKA FILMS</h1>
    <h2>OUR Films</h2>
    <div v-if="this.films.length > 0">
      <span>Film found: {{ this.films.length }}</span>
      <div id="filmsPreviewsContainer">
        <div v-for="film in paginatedFilms" :key="film.id" class="filmPreviewContainer">
          <film-preview :film="film" />
          <film-details-button :filmId="film.id" />
        </div>
      </div>
    </div>
    <div v-if="this.films.length == 0">
      <span>There's nothing to see here. We swear !</span>
    </div>
    <br />
    <button @click="prevPage" :disabled="pageNumber===1">&lt; Précédent</button>
    Page {{ pageNumber }} of {{ pageCount }}
    <button
      @click="nextPage"
      :disabled="pageNumber >= pageCount"
    >Suivant &gt;</button>
  </div>
</template>

<script>
// @ is an alias to /src
import FilmPreview from "@/components/FilmPreview.vue";
import FilmDetailsButton from "@/components/FilmDetailsButton.vue";
import VueHeadful from 'vue-headful';

export default {
  components: {
    FilmPreview,
    FilmDetailsButton,
    VueHeadful
  },
  data() {
    return {
      pageNumber: 1,
      nbOfFilmsPerPages : 20
    };
  },
  methods: {
    nextPage() {
      this.pageNumber++;
    },
    prevPage() {
      this.pageNumber--;
    }
  },
  computed: {
    films() {
      return this.$root.$children[0].films;
    },
    paginatedFilms() {
      const start = (this.pageNumber - 1) * this.nbOfFilmsPerPages,
        end = start + this.nbOfFilmsPerPages;
      return this.films.slice(start, end);
    },
    pageCount() {
      return Math.ceil(this.films.length / this.nbOfFilmsPerPages);
    }
  }
};
</script>

<style>
#filmsPreviewsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filmPreviewContainer {
  width: 30%;
}

.viewContainer button:disabled {
  background-color: #6c6969;
  color:white;
  text-decoration:none;
  cursor: unset;
}
</style>