<template>
  <div>
      <vue-headful
            title="Perestroika Films - Database Modification"
            description="All the information needed about the selected film."
        />
      <h1>Modify database</h1>
          <alert-message
            v-if="submitSuccess === false"
            messsage="This is not a standard form. Are you trying to add western propaganda?"
            />
        <alert-message
            v-if="submitSuccess"
            messageType="Success"
            messsage="Well done, comrade! You did your part on this day."
        />
      <form action="#" id="modifyFilmForm"  @submit.prevent="onSubmit" method="post" novalidate>
        <label for="filmTitle">Title: </label>
        <input type="text" id="filmTitle" name="filmTitle" v-model.trim="filmTitle" />
        <div class="error" v-if="!$v.filmTitle.maxLength">
            The title must contains less than {{$v.filmTitle.$params.maxLength.max}} characters.
        </div>
        <div class="error" v-if="!$v.filmTitle.minLength">
            The title must contains more than {{$v.filmTitle.$params.minLength.min}} characters.
        </div>
        <div class="error" v-if="!$v.filmTitle.required">
            The title is a required field.
        </div>
        <div class="error" v-else>
        </div>
        <div id="smallInputContainer">
            <div>
                <label for="filmReleaseYear">Release year: </label>
                <input type="number" id="filmReleaseYear" name="filmReleaseYear" v-model.number="filmReleaseYear" />
                <div class="error" v-if="!$v.filmReleaseYear.required">
                    The release year is a required field.
                </div>
                <div class="error" v-else>
                </div>
                <div class="error" v-if="!$v.filmReleaseYear.between">
                    The release year must be valid year between {{$v.filmReleaseYear.$params.between.min}} and {{$v.filmReleaseYear.$params.between.max}}.
                </div>
                <div class="error" v-else>
                </div>
            </div>
            <div>
                <label for="filmLength">Length: </label>
                <input type="number" id="filmLength" name="filmLength" v-model.number="filmLength" />
                <div class="error" v-if="!$v.filmLength.required">
                    The film length is a required field.
                </div>
                <div class="error" v-else>
                </div>
            </div>
            <div>
                <label for="filmRating">Rating: </label>
                <select id="filmRating" name="filmRating" v-model.trim="filmRating">
                    <option v-for="rating in ratings" :key="rating.id" :value="rating.name">{{rating.name}}</option>
                </select>
                <div class="error" v-if="!$v.filmRating.required">
                    The rating is a required field.
                </div>
                <div class="error" v-else>
                </div>
            </div>
            <div>
                <label for="filmLanguage">Language: </label>
                <select id="filmLanguage" name="filmLanguage" v-model.trim="filmLanguage">
                    <option v-for="language in languages" :key="language.id" :value="language.id">{{language.name}}</option>
                </select>
                <div class="error" v-if="!$v.filmLanguage.required">
                    The rating is a required field.
                </div>
                <div class="error" v-else>
                </div>
            </div>
        </div>        
        <label for="filmDescription">Description: </label>
        <textarea id="filmDescription" name="filmDescription" v-model.trim="filmDescription" rows="15" cols="100"/>
        <div class="error" v-if="!$v.filmDescription.required">
            The description is a required field.
        </div>
        <div class="error" v-else>
        </div>

        <button type="submit">{{submitButtonValue}}</button>
      </form>
  </div>
</template>

<script>
import FilmsService from "@/services/FilmsService.js";
import VueHeadful from 'vue-headful';
import {required, minLength, maxLength, between} from 'vuelidate/lib/validators';
import AlertMessage from "@/components/AlertMessage.vue";

export default {
    data(){
        return{
            ratings : null,
            languages: null,
            existingFilm : null,
            filmTitle : null,
            filmReleaseYear : null,
            filmLength : null,
            filmRating : null,
            filmLanguage: null,
            filmDescription : null,
            submitButtonValue : 'Add',
            submitSuccess : null
        }
    },
    validations:{
        filmTitle :{
            required,
            maxLength: maxLength(50),
            minLength: minLength(3)
        },
        filmReleaseYear:{
            required,
            between :between(1900, new Date().getFullYear())
        },
        filmLength: {
            required
        },
        filmRating:{
            required
        },
        filmLanguage:{
            required
        },
        filmDescription:{
            required
        }
    },
    components:{
        VueHeadful,
        AlertMessage
    },
    created(){
        FilmsService.getFilmPossibleRatings()
            .then(response => {this.ratings = response.data});
        FilmsService.getFilmPossibleLanguages()
            .then(response => {this.languages = response.data});
        let filmId = this.$route.params.filmId
        if (!isNaN(parseInt(filmId)) && isFinite(filmId)){
            FilmsService.getFilmById(this.$route.params.filmId)
                .then(response => {
                    this.existingFilm = response.data.film;
                    this.filmTitle = this.existingFilm.title;
                    this.filmReleaseYear = this.existingFilm.release_year;
                    this.filmLength = this.existingFilm.length;
                    this.filmRating = this.existingFilm.rating;
                    this.filmDescription = this.existingFilm.description;
                    this.submitButtonValue = 'Modify';
                });
            }
    },
    methods:{
        onSubmit(){
            try{
                this.submitSuccess = null;
                if(!this.$v.filmTitle.maxLength || !this.$v.filmTitle.minLength || !this.$v.filmTitle.required || !this.$v.filmReleaseYear.required || !this.$v.filmReleaseYear.between || !this.$v.filmLength.required || !this.$v.filmRating.required || !this.$v.filmLanguage.required  || !this.$v.filmDescription.required){
                    throw new Error();
                }
                if(this.existingFilm == null) {
                    this.addFilm();
                }
                else{
                    this.modifyFilm();
                }
                this.submitSuccess = true;
            }
            catch(error){
                this.submitSuccess = false;
            }
        },
        addFilm(){
            let newFilm = {
                title : this.filmTitle,
                release_year :  this.filmReleaseYear.toString(),
                length :  this.filmLength,
                description :  this.filmDescription,
                rating :  this.filmRating,
                language_id : this.filmLanguage
            }
            FilmsService.addFilm(newFilm)
                .then(response => {if (!response.status == 201) {
                                        throw new Error();
                                    }});
        },
        modifyFilm(){
            let updatedFilm = {
                title : this.filmTitle,
                release_year :  this.filmReleaseYear.toString(),
                length :  this.filmLength,
                description :  this.filmDescription,
                rating :  this.filmRating,
                language_id : this.filmLanguage
            }
            FilmsService.updateFilm(this.existingFilm, updatedFilm)
                .then(response => {if (!response.status == 204) {
                                        throw new Error();
                                    }});
        }
    }
}
</script>

<style scoped>

#modifyFilmForm{
    display: flex;
    flex-direction: column;
    padding-bottom:45% ;
    margin-top: 5%;
}

#modifyFilmForm > button{
    width: 20%;
    margin-left: 1em;
    margin-top: 1%;
}

#modifyFilmForm > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#modifyFilmForm > label, div > div {
    display: flex;
    flex-direction: column;
}

#modifyFilmForm > label, div > div > label{
    text-align: left;
    padding-left: .75em;
}

#modifyFilmForm > input, textarea, select{
    padding: .25em;
}

#smallInputContainer > div{
    width: 50%;
}

#smallInputContainer > div > input, select {
    width: 7em;
    padding: .25em;
}

.error{
    font-size: .9em;
    text-align: left;
    margin-bottom: 1em;
}
</style>