<template>
<div id="registerViewContainer">
    <ajout-modification-compte-form v-if="!this.userId"/>
    <modification-compte-form v-if="this.userId" :userId="userId"/>
</div>
</template>

<script>
import AjoutModificationCompteForm from "@/components/AjoutCompteForm.vue";
import ModificationCompteForm from "@/components/ModificationCompteForm.vue";

export default {
components: {
    AjoutModificationCompteForm,
    ModificationCompteForm
  },
  data(){
       return {
         userId: sessionStorage.getItem('id'),
         userChoice: this.userChoice
         }
  }
}
</script>

<style>
.viewContainer {
  width: 100%;
}

#registerViewContainer{
    width: 55%;
    display: flex;
    justify-content: center;
}

.registerForm{
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-left: 5%;
}

.registerForm > div{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: .5em;
}

.registerForm > div > input{
  padding: .10em;
  width: 25em;
}

.registerForm > button{
  padding: 1em 1em;
  width: 8em;
  margin-left: 5%;
}

.registerForm{
  margin-top: 5%;
  padding: .5em .5em;
}

.error{
  font-size: .9em;
}

</style>