<template>
    <div>
        <alert-message
            v-if="submitSuccess === false"
            messsage="This is not a standard form. Are you trying to add western propaganda?"
            />
        <alert-message
            v-if="submitSuccess"
            messageType="Success"
            messsage="Well done, comrade! You did your part on this day."
        />
        <div id="addCriticFormConatainer">
            <form action="#" @submit.prevent="onSubmit" method="post" novalidate>
                <!-- https://codepen.io/jamesbarnett/pen/vlpkh -->
                <div>
                    <fieldset class="rating">
                        <legend>Rating</legend>
                        <input type="radio" id="star5" name="starCritic" v-model="starCritic" value="5" /><label class = "full" for="star5" title="Walks in Lenin's footsteps! - 5 stars"></label>
                        <input type="radio" id="star4half" name="starCritic" v-model="starCritic" value="4 and a half" /><label class="half" for="star4half" title="Motherland will be proud - 4.5 stars"></label>
                        <input type="radio" id="star4" name="starCritic" v-model="starCritic" value="4" /><label class = "full" for="star4" title="Communist film supremacy - 4 stars"></label>
                        <input type="radio" id="star3half" name="starCritic" v-model="starCritic" value="3 and a half" /><label class="half" for="star3half" title="Da! - 3.5 stars"></label>
                        <input type="radio" id="star3" name="starCritic" v-model="starCritic" value="3" /><label class = "full" for="star3" title="Need more patriotism - 3 stars"></label>
                        <input type="radio" id="star2half" name="starCritic" v-model="starCritic" value="2 and a half" /><label class="half" for="star2half" title="Dirty peasant amusement - 2.5 stars"></label>
                        <input type="radio" id="star2" name="starCritic" v-model="starCritic" value="2" /><label class = "full" for="star2" title="Unworthy in the Motherland - 2 stars"></label>
                        <input type="radio" id="star1half" name="starCritic" v-model="starCritic" value="1 and a half" /><label class="half" for="star1half" title="Some western propaganda - 1.5 stars"></label>
                        <input type="radio" id="star1" name="starCritic" v-model="starCritic" value="1" /><label class = "full" for="star1" title="Censorship needed - 1 star"></label>
                        <input type="radio" id="starhalf" name="starCritic" v-model="starCritic" value="half" /><label class="half" for="starhalf" title="Need to send staff to Goulag - 0.5 stars"></label>
                    </fieldset>
                </div>
                <div id="criticCommentContainer">
                    <fieldset>
                        <legend>Comments</legend>
                        <textarea v-model.trim="criticComment" id="criticComment" name="criticComment" rows="8" cols="60"></textarea>
                        <div class="error" v-if="!$v.criticComment.maxLength">
                            You have too many critics comrade. Lower your message to {{$v.criticComment.$params.maxLength.max}} characters before we get suspicious...
                        </div>
                    </fieldset>
                </div>
                <button type="submit">{{action}} comment</button>
            </form>
        </div>  
    </div>
</template>

<script>
import FilmsService from "@/services/FilmsService.js";
import {maxLength} from 'vuelidate/lib/validators';
import AlertMessage from "@/components/AlertMessage.vue";

export default {
    data(){
        return {
            starCritic: null,
            criticComment : null,
            submitSuccess: null,
            action : 'Add'
        }
    },
    props:{
        filmId: null,
        critic:{
            type:Object,
            default: function() {
                return{
                    score: 0,
                    comment: null
                }
            }
        }
    },
    components:{
        AlertMessage
    },
    validations:{
        criticComment :{
            maxLength: maxLength(255)
        }
    },
    created(){
        this.starCritic = this.critic.score;
        this.criticComment = this.critic.comment;
        if (this.criticComment != null){
            this.action = 'Modify';
        }
    },
    methods:{
        onSubmit(){
            try {
                this.submitSuccess = null;
                if(!this.$v.criticComment.maxLength){
                    throw new Error();
                }
                let comment = {
                    score: parseFloat(this.starCritic),
                    comment: this.criticComment
                }
                if(this.action == 'Modify'){
                    this.updateCritic(comment);
                }
                else{
                    this.addCritic(comment);
                }
                this.submitSuccess = true;
            } catch (error) {
                this.submitSuccess = false;
            } 
        },
        addCritic(comment){
            FilmsService.addCritic(this.filmId, comment)
                .then(response => {if (!response.status == 201) {
                                        throw new Error();
                                    }});
        },
        updateCritic(comment){
            FilmsService.updateCritic(this.filmId, this.critic.id, comment)
                .then(response => {if (!response.status == 204) {
                                        throw new Error();
                                    }});
        }
    }

}
</script>

<style>
    h3{
        margin-top: 2.5em;
    }
    #addCriticFormConatainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #addCriticFormConatainer > form > div{
        display: flex;
        justify-content: center;
    }

    #addCriticFormConatainer > form > div >fieldset{
        border: none;
    }

    #criticCommentContainer{
        padding-bottom: 1%
    }

    #addCriticFormConatainer > form > button{
        padding: 1em 1em;
    }

    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    /****** Style Star Rating Widget *****/

    .rating { 
    float: left;
    }

    .rating > input { display: none; } 
    .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    }

    .rating > .half:before { 
    content: "\f089";
    position: absolute;
    }

    .rating > label { 
    color: white; 
    float: right; 
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color:gold;  } /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
</style>