<template>
  <div class="viewContainer">
    <vue-headful
      :title="'Perestroika Films - Register'"
      description="All the information needed about the selected film."
    />
    <alert-message
      v-if="this.failedConfirmation"
      messsage="We can't add you to our forces. An Error has occured!"
    />
    <alert-message
      v-if="this.sendConfirmation"
      messageType="Success"
      messsage="Well done, you're now a part of something bigger than you Comrade!"
    />
    <form action="#" method="post" class="registerForm" @submit.prevent="onClick" novalidate>
      <div v-if="!userId">
        <label for="userName">Username:</label>
        <input
          v-model="userName"
          type="text"
          id="userName"
          name="userName"
          v-on:mouseleave="mouseleave"
        />
        <div class="error" v-if="!$v.userName.required">The username is required.</div>
        <div class="error" v-if="verifyUserOnInput == true">This user is already ours.</div>
        <div
          class="error"
          v-if="!$v.userName.minLength"
        >The username should be have more than {{ $v.userName.$params.minLength.min }} caracters.</div>
        <div
          class="error"
          v-if="!$v.userName.maxLength"
        >The username should have less than {{ $v.userName.$params.maxLength.max }} caracters.</div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input v-model.trim="password" type="text" id="password" name="password" />
        <div class="error" v-if="!$v.password.maxLength">
          The password should have less than {{ $v.password.$params.maxLength.max }} caracters.
        </div>
      </div>
      <div>
        <label for="passwordConfirmation">Confirm password:</label>
        <input v-model.trim="passwordConfirmation" type="text" id="passwordConfirmation" name="passwordConfirmation"/>
        <div class="error" v-if="!$v.passwordConfirmation.maxLength" >
          The password should have less than {{ $v.passwordConfirmation.$params.maxLength.max }} caracters.</div>
        <div class="error" id="comparePass" v-if="comparePasswords == false">
          Both password are not the same.
        </div>
      </div>
      <div>
        <label for="email">Top secret email:</label>
        <input v-model="email" type="text" id="email" name="email" />
        <div class="error" v-if="!$v.email.maxLength" >
          The email should have less than {{ $v.email.$params.maxLength.max }} caracters.
        </div>
      </div>
      <div>
        <label for="firstName">First name:</label>
        <input v-model="firstName" type="text" id="firstName" name="firstName" />
        <div class="error" v-if="!$v.firstName.maxLength" >
          The first name should have less than {{ $v.firstName.$params.maxLength.max }} caracters.
        </div>
      </div>
      <div>
        <label for="lastName">Last name:</label>
        <input v-model="lastName" type="password" id="lastName" name="lastName" />
        <div class="error" v-if="!$v.lastName.maxLength">
          The last name should have less than {{ $v.lastName.$params.maxLength.max }} caracters.
        </div>
      </div>
      <button type="inscription" id="inscButton" v-if="!userId">Enroll !</button>
      <!-- <button type="modification" id="modButton" v-if="userId">Modifier</button> -->
    </form>
    <div>
      <button @click="switchVisibility()" id="passwordMod">Show/hide Password</button>
    </div>
  </div>
</template>

<script>
import UsersService from "@/services/UsersService.js";
import AlertMessage from "@/components/AlertMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import VueHeadful from "vue-headful";

export default {
  components: {
    AlertMessage,
    VueHeadful
  },
  data() {
    return {
      userName: "",
      userNameForModification: "",
      password: "",
      passwordConfirmation: "",
      email: "",
      firstName: "",
      lastName: "",
      sendConfirmation: false,
      failedConfirmation: false,
      role_id: 2,
      dataStatus: null,
      mouseOff: false,
      isTaken: false,
      passwordsField: null,
      passwordComparation: true
    };
  },
  props: {
    userId: {
      type: String,
      default: () => null
    }
  },
  validations: {
    userName: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(50)
    },
    password: {
      maxLength: maxLength(50)
    },
    passwordConfirmation: {
      maxLength: maxLength(50)
    },
    email: {
      maxLength: maxLength(50)
    },
    firstName: {
      maxLength: maxLength(50)
    },
    lastName: {
      maxLength: maxLength(50)
    },
    userNameForModification: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(50)
    }
  },
  methods: {
    onClick() {
      try {
        if (
          !this.$v.userName.required ||
          !this.$v.userName.minLength ||
          !this.$v.userName.maxLength ||
          !this.$v.password.maxLength ||
          !this.$v.passwordConfirmation.maxLength ||
          !this.$v.email.maxLength ||
          !this.$v.firstName.maxLength ||
          !this.$v.lastName.maxLength
        ) {
          throw new Error();
        }
        if (
          this.isTaken == false &&
          this.comparePasswords == true &&
          this.userId == null
        ) {
          let newUserToAdd = {
            login: this.userName,
            password: this.password,
            email: this.email,
            first_name: this.firstName,
            last_name: this.lastName,
            role_id: this.role_id
          };
          UsersService.addUser(newUserToAdd)
            .then(response => {
              let dataStatus = response.status;
              if (dataStatus == 201) {
                this.sendConfirmation = true;
                this.failedConfirmation = false;
              }
            })
            .catch(error => {
              this.error = error;
              this.sendConfirmation = false;
              this.failedConfirmation = true;
            });
        }
        if (
          this.comparePasswords == true &&
          this.userId != null
        ) {
          let newUserToModify = {
            login: this.userNameForModification,
            password: this.password,
            email: this.email,
            first_name: this.firstName,
            last_name: this.lastName,
            role_id: this.role_id
          };
          let token = sessionStorage.getItem("token");
          UsersService.modifyUser(newUserToModify, token)
            .then(response => {
              let dataStatus = response.status;
              if (dataStatus == 201) {
                this.sendConfirmation = true;
                this.failedConfirmation = false;
              }
            })
            .catch(error => {
              this.error = error;
              this.sendConfirmation = false;
              this.failedConfirmation = true;
            });
        }
      } catch (error) {
        this.sendConfirmation = false;
        this.failedConfirmation = true;
      }
    },
    loggedUserView() {
      if (this.userId != null) {
        document.getElementById("modButton").style.display = "flex";
        document.getElementById("inputIdMod").style.display = "flex";
        document.getElementById("inscButton").style.display = "none";
      }
    },
    mouseleave() {
      this.mouseOff = true;
    },
    verifyUserExist() {
      UsersService.verifyLoggin(this.userName).then(response => {
        this.isTaken = response.data.isTaken;
      });
    },
    switchVisibility() {
      let password = document.getElementById("password");
      if (password.getAttribute("type") === "password") {
        password.setAttribute("type", "texte");
      } else {
        password.setAttribute("type", "password");
      }
      let passwordConfirmation = document.getElementById(
        "passwordConfirmation"
      );
      if (passwordConfirmation.getAttribute("type") === "password") {
        passwordConfirmation.setAttribute("type", "texte");
      } else {
        passwordConfirmation.setAttribute("type", "password");
      }
    },
    comparePass() {
      if (this.passwordConfirmation != this.password) {
        this.passwordComparation = false;
        return false;
      }
      return true;
    }
  },
  computed: {
    verifyUserOnInput() {
      if (this.userName.length >= 3) {
        this.verifyUserExist();
        return this.isTaken;
      }
      return this.isTaken;
    },
    comparePasswords() {
      if (this.passwordConfirmation.length == this.password.length) {
        if (this.comparePass()) {
          return true;
        }
      }
      return false;
    }
  }
};
</script>

<style>

</style>