<template>
    <div id="alertMessageContainer">
        <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alerts -->
        <span id="closeAlertMessageBtn" v-on:click="closeAlertMessageContainer">&times;</span>  
        <strong>{{messageType}}!</strong> {{messsage}}
    </div>
</template>

<script>
export default {
    props:{
        messageType:{
            type: String,
            default: 'Error'
        },
        messsage: {
            type: String,
            default: null
        }
    },
    mounted(){
        this.chooseColorForAlertMessage();
    },
    methods:{
        chooseColorForAlertMessage(){
            if(this.messageType == 'Success'){
                document.getElementById('alertMessageContainer').style.backgroundColor = '#4CAF50';
            }
            else{
                document.getElementById('alertMessageContainer').style.backgroundColor = '#ff0303';
            }
        },
        closeAlertMessageContainer(){
            let alertMessageContainer = document.getElementById('alertMessageContainer');
            alertMessageContainer.style.opacity = "0";
            alertMessageContainer.remove();
        }
    },
    watch:{
        messageType: function(){
            this.chooseColorForAlertMessage();
        }
    }
}
</script>

<style>
    #alertMessageContainer {
        padding: 1% !important;
        background-color: #ff0303;
        color: white !important;
        opacity: 1 !important;
        transition: opacity 0.6s !important;
        margin-bottom: 1% !important;
        margin-left: 25% !important;
        margin-right: 25% !important;
        display: block !important;
    }

    #closeAlertMessageBtn {
        margin-left: 15px !important;
        color: white !important;
        font-weight: bold !important;
        float: right !important;
        font-size: 22px !important;
        line-height: 20px !important;
        cursor: pointer !important;
        transition: 0.3s !important;
    }

    #closeAlertMessageBtn:hover {
        color: black !important;
}
</style>