<template>
    <div>
        <span class="memberNameContainer">{{critic.critic_first_name + ' ' + critic.critic_last_name}}</span>
        <p class="commentPar">{{critic.comment}}</p>
        <p class="creationDatePar">{{formatDate()}}</p>
    </div>
</template>

<script>
export default {
    props:{
        critic: {
            type: Object,
            default: () => []
        }
    },
    methods:{
        formatDate(){
            let date = new Date(this.critic.creation_date);
            let options = {year: 'numeric', month: 'long', day: 'numeric' };
            return date.toLocaleDateString("en-US", options);
        }
    }
}
</script>

<style scoped>
    @import './../css/star.css';
    .memberNameContainer{
        font-weight: bolder;
    }
    .creationDatePar{
        font-size: 0.75em;
    }
</style>