<template>
  <div class="dropDownFilmPreviewContainer">
    <img :src="film.image ? film.imageUrl : 'https://placeimg.com/200/200/tech'" id="imgDropDown" />
    <div class="dropdownFilmInfoContainer">
      <h4>{{film.title}}</h4>
      <p>{{film.release_year}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "FilmPreview",
  props: {
    film: {
      type: Object,
      default: () => []
    }
  }
};
</script>

<style>
.dropDownFilmPreviewContainer {
  display: flex;
  padding-bottom: 0px;
  padding: 1%;
}

.dropDownFilmPreviewContainer:hover {
  cursor: pointer;
  background-color: #b0a7a759;
  text-decoration: underline;
}

.dropdownFilmInfoContainer{
  padding-left: 3%;
}

.dropdownFilmInfoContainer > :first-child {
  display: flex;
  margin-bottom: 0%;
}

.dropdownFilmInfoContainer > :last-child {
  display: flex;
  margin-top: 0%;
}

#imgDropDown {
  padding-top: 1%;
  width: 15%;
  height: 15%;
}

</style>