<template>
    <div class="star-ratings-css" :title="stars"></div>
</template>

<script>
    import FilmsService from '@/services/FilmsService.js';

    export default {
        name: 'FilmStarRating',
        data(){
            return{
                rating: 0,
                stars : '.000'
            }
        },
        props: {
            filmId : {
                type: Number,
                default: () => null
            }
        },
        created(){
            FilmsService.getFilmById(this.filmId)
            .then(response => {
                let responseCriticsArray = response.data.critic;
                if(responseCriticsArray.length >= 5){
                    this.rating = this.calculateAverageRating(responseCriticsArray);
                    this.stars = this.createStars(this.rating);
                }
            });
        },
        methods:{
            calculateAverageRating: function (criticsArray){
                let sum = 0;
                criticsArray.forEach(element => {
                    sum += parseFloat(element.score);
                });
                return sum / criticsArray.length;
            },
            createStars: function(){
                let cssValue;
                switch(true){
                    case (this.rating == 100.0):
                        cssValue = '.1000';
                        break;
                    case (this.rating > 87.5):
                        cssValue = '.875';
                        break;
                    case (this.rating > 75.0):
                        cssValue = '.750';
                        break;
                    case (this.rating > 62.5):
                        cssValue = '.625';
                        break;
                    case (this.rating > 50.0):
                        cssValue = '.500';
                        break;
                    case (this.rating > 37.5):
                        cssValue = '.375';
                        break;
                    case (this.rating > 25.0):
                        cssValue = '.250';
                        break;
                    case (this.rating > 12.5):
                        cssValue = '.125';
                        break;
                    default:
                        cssValue = '.000';
                        break;
                }
                return cssValue;
            }
        }
    }
</script>

<style scoped>
    @import './../css/star.css';
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
    body { margin: 50px; text-align: center; font-family: 'Open Sans', sans-serif; background: #f2fbff; font-size: .6em;}
</style>