<template>
  <div>
    <h3>{{film.title}}</h3>
    <img
      :src="film.image ? 'https://placeimg.com/200/200/tech' : require('@/assets/hommeCasquette.png')"
      class="filmPreviewImage"
    />
    <film-star-rating :filmId="film.id" />
    <p>{{film.description.substring(0,99) + '...'}}</p>
  </div>
</template>

<script>
import FilmStarRating from "@/components/FilmStarRating.vue";

export default {
  name: "FilmPreview",
  props: {
    film: {
      type: Object,
      default: () => []
    }
  },
  components: {
    FilmStarRating
  }
};
</script>

<style>
.filmPreviewImage {
  width: 45%;
  height: 45%;
}
h3 {
  font-size: 2em;
}
</style>