<template>
  <div class="filmDetailsButtonContainer">
    <router-link :to="'/films/' + filmId">
      <button>Давай</button>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "FilmDetailsButton",
  props: {
    filmId: {
      type: Number,
      required: true
    }
  }
};
</script>

<style>
button {
  background-color: #ff0303;
  border: none;
  color: gold;
  padding: 1em 2.25em;
  text-decoration: none;
  font-size: 1em;
  font-weight: bolder;
}

button:hover {
  background-color: gold;
  cursor: pointer;
  color: #ff0303;
  text-decoration: underline;
}
</style>