<template>
  <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 -->
  <div id="loginModalBoxContainer">
    <div id="loginModalContentContainer">
      <div id="loginModalHeaderContainer">
        <span id="closeLoginModal" v-on:click="closeLoginModalBox">&times;</span>
        <h2>IDENTIFY YOURSELF</h2>
      </div>
      <div id="loginModalBodyContainer" v-if="confirmationLoggin == false">
        <form action="#" @submit.prevent="userLoggin" method="post">
          <div>
            <label for="userLogin">User:</label>
            <input type="text" id="userLogin" name="userLogin" v-model.trim="userLogin" />
            <div
              class="error"
              v-if="!$v.userLogin.maxLength"
            >Your user login is higher than {{$v.userLogin.$params.maxLength.max}} caracters. Don't get fancy and unique...</div>
          </div>
          <div>
            <label for="passwordLogin">Password:</label>
            <input type="password" id="passwordLogin" name="passwordLogin" v-model.trim="passwordLogin" />
            <div
              class="error"
              v-if="!$v.passwordLogin.maxLength"
            >Your password must not have more than {{$v.passwordLogin.$params.maxLength.max}} caracters, if we want to spy easily on you...</div>
          </div>

          <button type="submit">Identity myself</button>
        </form>
        <div>
          <a href="http://government.ru/en/department/112/">Forgot password</a> |
          <router-link v-on:click.native="closeLoginModalBox" to="/register">Register</router-link>
        </div>
      </div>
      <div v-if="confirmationLoggin == true">
          <h3 style="color:green">
              User confirmed! you can now enter the Kremlin of Moscow.
          </h3>
      </div>
    <div v-if="failedConfirmation">
          <h3 style="color:red">
              Connexion failed. You can't enter the Kremlin of Moscou.
          </h3>
      </div>
    </div>
  </div>
</template>

<script>
import {maxLength} from 'vuelidate/lib/validators';
import UsersService from "@/services/UsersService.js";

export default {
    data() {
        return{
            userLogin: null,
            passwordLogin : null,
            confirmationLoggin: false,
            failedConfirmation: false
        }
    },
    validations:{
        userLogin :{
            maxLength: maxLength(50)
        },
        passwordLogin :{
            maxLength: maxLength(50)
        }
    },
    methods:{
        showLoginModalBox(){
            document.getElementById('loginModalBoxContainer').style.display = "block";
        },
        closeLoginModalBox(){
            document.getElementById('loginModalBoxContainer').style.display = "none";
        },
        userLoggin(){
            let logginData = {
                login: this.userLogin, 
                password: this.passwordLogin
            }
            UsersService.logginUser(logginData).then(response => {
                sessionStorage.setItem('token', response.data.token)
                sessionStorage.setItem('role', response.data.role_id)
                sessionStorage.setItem('id', response.data.id)
                if(sessionStorage.getItem('token') != null) {
                    this.failedConfirmation = false;
                    this.confirmationLoggin = true
                }
                setTimeout(function(){ document.location.reload(true); }, 1000);
            })        
            .catch(error => {
                this.error = error;
                this.failedConfirmation = true;
            });
        } 
    }

}

window.onclick = function(event) {
  if (event.target == document.getElementById('loginModalBoxContainer')) {
    document.getElementById('loginModalBoxContainer').style.display = "none";
  }
}
</script>

<style>
@import "./../css/loginModal.css";
</style>