<template>
  <div class="viewContainer">
    <vue-headful
      :title="'Perestroika Films - Profil modification'"
      description="All the information needed about the selected film."
    />
    <alert-message
      v-if="this.failedConfirmation"
      messsage="We can't add you to our forces. An Error has occured!"
    />
    <alert-message
      v-if="this.sendConfirmation"
      messageType="Success"
      messsage="Well done, you're now a part of something bigger than you Comrade!"
    />
    <h1>Change Identity</h1>
    <form action="#" method="put" class="registerForm" @submit.prevent="onClick" novalidate>
      <div>
        <label for="userName">Username:</label>
        <input
          v-model="userName"
          type="text"
          id="userName"
          name="userName"
          v-on:mouseleave="mouseleave"
        />
        <div class="error" v-if="!$v.userName.required">The username is required.</div>
        <div class="error" v-if="verifyUserOnInput == true">
          This user is already ours.
        </div>
        <div class="error" v-if="!$v.userName.minLength">
          The username should be have more than {{ $v.userName.$params.minLength.min }} caracters.</div>
        <div class="error" v-if="!$v.userName.maxLength">
          The username should have less than {{ $v.userName.$params.maxLength.max }} caracters.</div>
        </div>
      <div>
        <label for="email">Top secret email:</label>
        <input v-model="email" type="text" id="email" name="email" />
        <div class="error" v-if="!$v.email.maxLength" >
          The email should have less than {{ $v.email.$params.maxLength.max }} caracters.
        </div>
      </div>
      <div>
        <label for="firstName">First name:</label>
        <input v-model="firstName" type="text" id="firstName" name="firstName" />
        <div class="error" v-if="!$v.firstName.maxLength">
          The first name should have less than {{ $v.firstName.$params.maxLength.max }} caracters.
        </div>
      </div>
      <div>
        <label for="lastName">Last name:</label>
        <input v-model="lastName" type="text" id="lastName" name="lastName" />
          <div class="error" v-if="!$v.lastName.maxLength">
            The last name should have less than {{ $v.lastName.$params.maxLength.max }} caracters.
          </div>
      </div>
     <div>
        <label for="password">Password:</label>
        <input v-model.trim="password" type="password" id="password" name="password" />
        <div class="error" v-if="!$v.password.maxLength">
          The password should have less than {{ $v.password.$params.maxLength.max }} caracters.
        </div>
      </div>
      <button type="inscription" id="modInfosBtn">Modify personnal info</button>
    </form>
    <form action="#" method="put" class="registerForm" @submit.prevent="onClickPassword" novalidate>
       <div id="inputId">
        <label for="passwordToModify">Password:</label>
        <input v-model.trim="passwordToModify" type="password" id="passwordToModify" name="passwordToModify" />
      </div>
      <div
        class="error"
        v-if="!$v.passwordToModify.maxLength"
      >The password should have less than {{ $v.passwordToModify.$params.maxLength.max }} caracters.</div>
      <div id="inputId">
        <label for="passwordConfirmation">Confirm password:</label>
        <input
          v-model.trim="passwordConfirmation"
          type="password"
          id="passwordConfirmation"
          name="passwordConfirmation"
        />
        <div class="error" v-if="!$v.passwordConfirmation.maxLength">
          The password should have less than {{ $v.passwordConfirmation.$params.maxLength.max }} caracters.
        </div>
        <div class="error" id="comparePass" v-if="comparePasswords == false">
          Both password are not the same.
        </div>
      </div>
      <button type="inscription" id="modPasswordBtn">Modify password</button>
    </form>
    <div>
      <button @click="switchVisibility()" id="passwordMod">Show/hide Password</button>
    </div>
  </div>
</template>

<script>
import UsersService from "@/services/UsersService.js";
import AlertMessage from "@/components/AlertMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import VueHeadful from "vue-headful";

export default {
  components: {
    AlertMessage,
    VueHeadful
  },

  data() {
    return {
      userName: "",
      password: "",
      passwordConfirmation: "",
      email: "",
      firstName: "",
      lastName: "",
      sendConfirmation: false,
      failedConfirmation: false,
      role_id: 2,
      dataStatus: null,
      mouseOff: false,
      isTaken: false,
      passwordsField: null,
      passwordComparation: true,
      userInfos: null,
      passwordToModify: ""
    };
  },
created() {
    this.getUserData();
  },
  props: {
    userId: {
      type: String,
      default: () => null
    }
  },
  validations: {
    userName: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(50)
    },
    password: {
      maxLength: maxLength(50)
    },
    passwordConfirmation: {
      maxLength: maxLength(50)
    },
    passwordToModify:{
        maxLength: maxLength(50)
    },
    email: {
      maxLength: maxLength(50)
    },
    firstName: {
      maxLength: maxLength(50)
    },
    lastName: {
      maxLength: maxLength(50)
    }
  },
  methods: {
    onClick() {
      try {
        if (
          !this.$v.userName.required ||
          !this.$v.userName.minLength ||
          !this.$v.userName.maxLength ||
          !this.$v.email.maxLength ||
          !this.$v.firstName.maxLength ||
          !this.$v.lastName.maxLength
        ) {
          throw new Error();
        }
        if (
          this.userId != null
        ) {
          let UserToModify = {
            email: this.email,
            last_name: this.lastName,
            first_name: this.firstName,
            login: this.userName,
            role_id: 2,
            password: this.password
          };
          let token = sessionStorage.getItem("token")
          UsersService.modifyUser(this.userId, UserToModify, token)
            .then(response => {
              let dataStatus = response.status;
              if (dataStatus == 201) {
                this.sendConfirmation = true;
                this.failedConfirmation = false;
              }
            })
            .catch(error => {
              this.error = error;
              this.sendConfirmation = false;
              this.failedConfirmation = true;
            });
        }
      } catch (error) {
        this.sendConfirmation = false;
        this.failedConfirmation = true;
      }
    },
    getUserData(){
        let token = sessionStorage.getItem('token')
        UsersService.getUserInfos(this.userId, token).then(response => {
        this.userInfos = response.data.user;
      }
      ).catch(error => {
          this.error = error;
      });
    },
    onClickPassword() {
      try {
        if ( 
            !this.$v.passwordToModify.maxLength ||
            !this.$v.passwordConfirmation.maxLength 
        ) {
          throw new Error();
        }
        if (
          this.comparePasswords == true
        ) {
            let token = sessionStorage.getItem("token");
            let UserToModifyPass = {
            email: this.userInfos.email,
            login: this.userInfos.login,
            last_name: this.userInfos.last_name,
            first_name: this.userInfos.first_name,
            password: this.passwordToModify,
            role_id: 2,
          }
          UsersService.modifyPasswordUser(this.userId, UserToModifyPass, token)
            .then(response => {
              let dataStatus = response.status;
              if (dataStatus == 204) {
                this.sendConfirmation = true;
                this.failedConfirmation = false;
              }
            })
            .catch(error => {
              this.error = error;
              this.sendConfirmation = false;
              this.failedConfirmation = true;
            });
        }
      } catch (error) {
        this.sendConfirmation = false;
        this.failedConfirmation = true;
      }
    },
    mouseleave() {
      this.mouseOff = true;
    },
    verifyUserExist() {
      UsersService.verifyLoggin(this.userName).then(response => {
        this.isTaken = response.data.isTaken;
      });
    },
    switchVisibility() {
      let password = document.getElementById("password");
      if (password.getAttribute("type") === "password") {
        password.setAttribute("type", "texte");
      } else {
        password.setAttribute("type", "password");
      }

      let passwordConfirmation = document.getElementById(
        "passwordConfirmation"
      );
      if (passwordConfirmation.getAttribute("type") === "password") {
        passwordConfirmation.setAttribute("type", "texte");
      } else {
        passwordConfirmation.setAttribute("type", "password");
      }

      let passwordToModify = document.getElementById(
        "passwordToModify"
      );
      if (passwordToModify.getAttribute("type") === "password") {
        passwordToModify.setAttribute("type", "texte");
      } else {
        passwordToModify.setAttribute("type", "password");
      }
    },
    comparePass() {
      if (this.passwordConfirmation != this.passwordToModify) {
        this.passwordComparation = false;
        return false;
      }
      return true;
    }
  },
  computed: {
    verifyUserOnInput() {
      if (this.userName.length >= 3) {
        this.verifyUserExist();
        return this.isTaken;
      }
      return this.isTaken;
    },
    comparePasswords() {
      if (this.passwordConfirmation.length == this.passwordToModify.length) {
        if (this.comparePass()) {
          return true;
        }
      }
      return false;
    }
  }
};
</script>

<style>
#modInfosBtn{
  padding: .5em .5em !important;
}

#modPasswordBtn{
  padding: .5em .5em !important;
}
</style>