<template>
  <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 -->
  <div id="loginProfilManagerBox">
    <div id="loginProfilManagerContentBox">
      <div id="loginProfilManagerHeaderBox">
        <span id="closeLoginModal" v-on:click="closeLoginModalBox">&times;</span>
        <h2>PERSONAL INFORMATIONS</h2>
      </div>
      <div id="loginProfilManagerBodyContainer">
        <router-link v-on:click.native="closeLoginModalBox" to="/register">Change profile informations</router-link>
      </div>
    </div>
  </div>
</template>

<script>

export default {
    data() {
        return{
            userChoice: 1,
        }
    },

    methods:{
        closeLoginModalBox(){
        document.getElementById('loginProfilManagerBox').style.display = "none";
        },

    }

}
window.onclick = function(event) {
  if (event.target == document.getElementById('loginProfilManagerBox')) {
    document.getElementById('loginProfilManagerBox').style.display = "none";
  }
}
</script>

<style>
#loginProfilManagerBox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
#loginProfilManagerContentBox {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
padding-bottom: 1em;
border: 1px solid #888;
width: 40%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

#loginProfilManagerBodyContainer > form {
  display: flex;
  flex-direction: column;
}

#loginProfilManagerBodyContainer > form > div{
  padding: .25em;
}

#loginProfilManagerBodyContainer > form > button{
  margin-left: 38%;
  margin-right: 38%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: .5em .5em;
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

#closeLoginModal {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

#closeLoginModal:hover,
#closeLoginModal:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#loginProfilManagerHeaderBox {
padding: 2px 16px;
background-color:  #ff0303;;
color: gold;
}

#loginProfilManagerBodyContainer {padding: 2px 16px;}

</style>