<template>
  <div class="searchBar">
      <input id="sidebar-search" type="text" placeholder="Search...">
  </div>
</template>

<script>

export default {
  name: 'searchBar',
  components: {
  },
  data(){
    return {
      error: null,
      loading: false
    }
  }
}
</script>
