#loginModalBoxContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
#loginModalContentContainer {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
padding-bottom: 1em;
border: 1px solid #888;
width: 40%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

#loginModalBodyContainer > form {
  display: flex;
  flex-direction: column;
}

#loginModalBodyContainer > form > div{
  padding: .25em;
}

#loginModalBodyContainer > form > button{
  margin-left: 38%;
  margin-right: 38%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding: .5em .5em;
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

#closeLoginModal {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

#closeLoginModal:hover,
#closeLoginModal:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#loginModalHeaderContainer {
padding: 2px 16px;
background-color:  #ff0303;;
color: gold;
}

#loginModalBodyContainer {padding: 2px 16px;}
