   /*** Source : https://codepen.io/jsdev/pen/ojycf ***/
   .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #525050;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    text-shadow: 0 1px 0 #080808;
    } 
    .star-ratings-css::before { 
      content: '★★★★★';
      opacity: .3;
    }
  
    [title=".000"]::after {
      width: 0%;
    }
    [title=".125"]::after {
      width: 12.5%;
    }
    [title=".250"]::after {
      width: 25%;
    }
    [title=".375"]::after {
      width: 37.5%;
    }
    [title=".500"]::after {
      width: 50%;
    }
    [title=".625"]::after {
      width: 62.5%;
    }
    [title=".750"]::after {
      width: 75%;
    }
    [title=".875"]::after {
      width: 87.5%;
    }
    .star-ratings-css::after {
      color: gold;
      content: '★★★★★';
      text-shadow: 0 1px 0 #ab5414;
      position: absolute;
      z-index: 1;
      display: block;
      left: 0;
      top:0;
      width: attr(rating);
      overflow: hidden;
    }