<template>
  <div id="app">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <div id="nav" >
      <router-link to="/" v-on:click.native="loadThreeLastFilms" v-if="idUser == null">Home</router-link>|
      <div v-if="idUser == null">
        <a role="button" id="loginLink" v-on:click="showLoginModalBox">Login</a>|
      </div>
      <div v-if="getUserInfos == true" >
        Welcome {{ userData.first_name}} {{ userData.last_name}} |
        <router-link to="/" v-on:click.native="loadThreeLastFilms">Home</router-link> |
        <a href="#" id="profil" v-on:click="showProfilManagerBox">Profile </a>|
        <a href="#" id="disconnect" v-on:click="disconnectUser">Disconnect </a>| 
        <router-link to="/modify-film-database/new-film" v-if="userData.role_id == 1">Add film </router-link>|
      </div>
      <router-link to="/about">About</router-link> |
    </div>
    <div id="searchBarContainer">
      <form>
          <input id="sidebar-search" type="text" placeholder="Search..." v-model="keyWord" v-on:mouseenter="mouseenter"/>
        <button id="searchButton" @click="searchFilmByKeywordOnClick">Давай</button>
      </form>
      <div v-if="this.keyWord.length >= 3" id="dropdownList" v-on:mouseleave="mouseleave">
        <ul>
          <div v-if="this.filmFilterOnInput.length != 0">
            <li v-for="film in this.filmFilterOnInput" :key="film.id" @click="goToFilmDetails(film.id)">
              <div>
                <dropdownFilmPreview :film="film"/>
              </div>
            </li>
          </div>
          <div v-else>
            <li>
                <span>There's nothing to see here. We swear !</span>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <login-modal-form />
    <ProfilManagerBox />
    <router-view />
  </div>
</template>

<script>
import FilmsService from "@/services/FilmsService.js";
import UsersService from "@/services/UsersService.js";
import dropdownFilmPreview from "@/components/dropdownFilmPreview.vue";
import LoginModalForm from "@/components/LoginModalForm.vue";
import ProfilManagerBox from "@/components/ProfilManagerBox.vue";

export default {
  components: {
    dropdownFilmPreview,
    LoginModalForm,
    ProfilManagerBox
  },
  data() {
    return {
      error: null,
      keyWord: "",
      loading: false,
      lastFilmPage: null,
      films: [],
      hoverList: [],
      idUser: sessionStorage.getItem('id'),
      userData: null
    };
  },
  created() {
    this.loadThreeLastFilms();
  },
  methods: {
    sortedFilms(films){
      return films.sort((a,b) => {
            let modifier = -1;
            if(a.release_year < b.release_year) return -1 * modifier;
            if(a.release_year > b.release_year) return 1 * modifier;
            return 0;
      })
    },
    mouseleave() {
      document.getElementById("dropdownList").style.display = "none";
    },
    mouseenter() {
      let listEl =  document.getElementById("dropdownList");
      if (listEl != null) {
        listEl.style.display = "block";
      }
    },
    searchFilmByKeywordOnClick() {
      FilmsService.getFilmByKeyword(this.keyWord).then(response => {
        this.lastFilmPage = response.data.meta.last_page;
        var filmsTempArray = []
        /* Partie non fonctionnelle : navigation dans plusieurs pages
        for(let i = 1; i <= filmsTempArray.length; i++){
          this.FilmsServicegetFilmByKeyword(this.keyWord, i).
            then(response => {
              response.data.data.forEach(element => {
                filmsTempArray.push(element);
              });
            })
        }
        */
        filmsTempArray = response.data.data; //Pour faire fonctionner
        this.films = filmsTempArray;
        this.sortedFilms(this.films);
        return this.films;
      });
      this.goToHomePage();
    },
    loadThreeLastFilms() {
      const nbOfNewFilms = 3;
      this.films = [];
      this.loading = true;
      FilmsService.getFilms()
        .then(response => {
          this.lastFilmPage = response.data.meta.last_page;
          var filmsTempArray = [];
          FilmsService.getFilmsByPage(this.lastFilmPage - 1)
            .then(response => {
              response.data.data.forEach(element => {
                filmsTempArray.push(element);
              });
            })
            .then(() => {
              FilmsService.getFilmsByPage(this.lastFilmPage)
                .then(response => {
                  response.data.data.forEach(element => {
                    filmsTempArray.push(element);
                  });
                })
                .then(() => {
                  this.films = filmsTempArray.splice(
                    filmsTempArray.length - nbOfNewFilms,
                    nbOfNewFilms
                  );
                });
            });
        })
        .catch(error => {
          this.error = error;
        })
        .finally(() => (this.loading = false));
    },
    goToHomePage() {
      if (this.$route.fullPath != "/") {
        this.$router.push({ path: "/" });
      }
    },
    searchFilmByKeyword() {
      FilmsService.getFilmByKeyword(this.keyWord).then(response => {
        this.hoverList = response.data.data;
      });
    },
    goToFilmDetails(filmId) {
      this.keyWord = "";
      this.$router.push({ path: "/films/" + filmId });
    },
    showLoginModalBox(){
      document.getElementById('loginModalBoxContainer').style.display = "block";
    },
    showProfilManagerBox(){
      document.getElementById('loginProfilManagerBox').style.display = "block";
    },
    getUserData(){
      let token = sessionStorage.getItem('token')
      UsersService.getUserInfos(this.idUser, token).then(response => {
        this.userData = response.data.user;
      }
      ).catch(error => {
          this.error = error;
      });
    },
    disconnectUser(){
      sessionStorage.clear();
      this.userData = null,
      this.idUser = null
      location.reload(); 
    }
  },
  computed: {
    filmFilterOnInput() {
      let films = [];
      if (this.keyWord.length >= 3) {
        let inputWord = this.keyWord;
        inputWord.trim; 
        this.searchFilmByKeyword();
        films = this.hoverList;
        this.sortedFilms(films);
        return films;
      }
      return films;
    },
    getUserInfos(){
      if(this.idUser != null){
        this.getUserData();
        return true
      }
      return false
    }
  }
};
</script>

<style>
#dropdownList {
  position: absolute;
  padding: 0.75em;
  z-index: 1;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: auto;
}
@font-face {
  font-family: "kremlinregular";
  src: url("css/kremlin.ttf") format("truetype");
}

li {
  list-style-type: none;
}

#app {
  font-family: "Roboto", sans-serif;
  position: static;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f3f3f3;
  color: #2c3e50;
  margin: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding-bottom: 10%;*/
}

h1 {
  font-size: 4em;
  font-family: 'kremlinregular';
}

h2 {
  font-size: 3em;
  font-family: 'kremlinregular';
}

#nav {
  display: flex;
  padding: 2.5%;
  padding-bottom: 1%;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#searchBarContainer {
  margin-bottom: 1em;
}
#searchButton {
  padding: 5px 35px;
  margin: 5px 5px;
}

#sidebar-search {
  padding: 5px 55px;
  text-align: center;
}

.viewContainer {
  padding: 5%;
  background-color: #b0a7a759;
  margin-left: 10%;
  margin-right: 10%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#dropdownList ul {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
}

a:hover{
  cursor: pointer;
}

a{
  text-decoration: underline;
}
</style>
